<%= month_calendar(events: @schedules) do |date, schedules| %>
  <%= date %>
  <% schedules.each do |schedule| %>
    <div>
      <%= link_to "Schedule on #{schedule.start_time}", schedule, class: "link" %>
    </div>
  <% end %>
<% end %>