<div class="container m-auto my-4">
  <% if !@schedules %>
    <%= render "schedules_cta" %>
  <% else %>
    <%= render "schedules_landing", schedules: @schedules %>
  <% end %>
</div>

<div>
  <%= link_to "Back", :back %>
</div>
