
<h2>Calendar View</h2>

<%= month_calendar(events: @appointments) do |date, appointments| %>
  <%= date %>

  <% appointments.each do |appointment| %>
    <div>
      <%= link_to appointment.name, appointment.room, class:"link" %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Back', appointments_path %>