<h1>New Appointment</h1>
<h2>Step 4: Choose a slot</h2>

<% @slots.each do |slot| %>
    <%# <%= link_to "#{slot.start_time} - #{slot.end_time}", select_from_calendar_path(:doc_id => user[1]), class: "link" %>
    <%= "#{slot.start_time} - #{slot.end_time}" %>
    <br>
<% end %>

<%= link_to 'Back', select_department_path %>